* {
	box-sizing: border-box;
}

body {
	background-image: url("/assests/images/memphis-colorful.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
	color: #4aaaa5;
	border-bottom: 2px solid #ddd;
	padding: 20px 0;
	margin-bottom: 20px;
}

h3 {
	font-size: 1.17em;
	color: #4aaaa5;
	border-bottom: 1px solid #ddd;
	padding: 20px 0;
	margin-bottom: 20px;
}

h1, h2, h3, h5 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
}

.container {
	width: 960px;
	margin: auto;
}

/* NAV BAR */
.logo {
	color: #fff;
	padding: 12px;
	background-color: #4aaaa5;
	display: inline-block;
}

nav {
	border-bottom: 2px solid #ccc;
	background-color: #fff;
}

ul.nav-tabs {
	display: inline;
	margin-left: 424px;
}

.nav-tabs li {
	list-style: none;
	display: inline-block;
	padding: 0 20px;
}

.nav-tabs li a {
	text-decoration: none;
	color: #777;
}

.nav-tabs li a:hover {
	color: #4aaaa5;
}

.nav-border {
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

/* CONTENT AREA */

.content {
	margin-top: 20px;
}

.main-section {
	float: left;
	width: 650px;
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 20px;
	margin-bottom: 65px;
}

/* MAIN CONTENT - ABOUT ME */

.main-section img {
	width: 150px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

.main-section p {
	line-height: 1.5;
}

.sidebar {
	float: right;
	width: 270px;
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 10px;
	text-align: center;
}

.about-link a {
	color: #4aaaa5;
	text-decoration: underline;
}

/* MAIN CONTENT - PORTFOLIO */

.project-item {
	position: relative;
	float: left;
	width: 48%;
	margin-bottom: 20px;
}

.left {
	float: left;
}


.right {
	float: right;
}

.project-item img {
	width: 100%;
	margin: 0;
}

.overlay {
	display: hidden;
}

.overlay {
	width: 100%;
	height: 152px;
	background-color: rgba(74,170,175,0.0);
	position: absolute;
}


.overlay:hover {
	background-color: rgba(74,170,175,0.5);
}

.project-item h5 {
	width: 100%;
	color: #fff;
	font-weight: normal;
	text-align: center;
	background-color: #4aaaa5;
	position: absolute;
	padding: 15px 0;
	margin-top: 100px;
}

/* MAIN CONTENT - CONTACT */

/* SIDEBAR */

.sidebar a {
	text-decoration: none;
}

.sidebar a img {
	width: 32%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 80%; /* Full width */
    padding: 10px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 0px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


/* FOOTER */

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	padding-top: 25px;
	background-color: #666;
	text-align: center;
	border-top: 5px solid #4aaaa5;
	font-size: 0.85em;
	color: #fff;
}